@import './hero.css';
@import './tags-input.css';
@import './recipes.css';
@import './tags.css';
@import './inputs.css';
@import './images.css';
@import './dropdown.css';
@import './utils.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 1rem;
}

h3 {
    color: #000;
    font-family: Anton, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h6 {
    color: #7A7A7A;
    font-family: Manrope, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

p {
    color: #1B1B1B;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    margin: 0;
}

.toto {
    display: flex;
    flex-direction: column;
    height: 67%;
    align-items: flex-start;
    gap: 20px;
    padding: 25px;
    justify-content: space-evenly;
}

.titi {
    color:#7A7A7A;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ingredient {
    color:#1B1B1B;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 45%;
    display: inline-block;
}

.tutu {
    display: flex;
    align-items: center;
    flex-basis: 70%;
    margin: 50px 0;
    justify-content: space-between;
}
